@import 'type';

#grid{

    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    position: absolute;
    top: 0;
    left: 0;

}

#grid div.horiz{

    // Here is where you specify the baseline minus 1 px for that darn border //
    height: $baseline - 1px;;
    // Probably your baseline variable in type.sass //

    border-bottom: 1px dotted darkgray;
    margin: 0;
    padding: 0;

}
