$golden: 1.618

$serif: Georgia, Times, serif
$sans: Helvetica, Arial, sans-serif

$body-text: $serif

$font-size: 16px
$baseline: 25px

body
  font-family: $body-text
  font-size: $font-size

h1
  font-size: (3 * $golden) * $font-size
  line-height: 4 * $baseline

h2
  font-size: (2 * $golden) * $font-size
  line-height: 3 * $baseline

h3
  font-size: (1 * $golden) * $font-size
  line-height: 2 * $baseline

p
  line-height: $baseline
  margin: ($baseline / 2) 0 (($baseline / 2) + 1px) 0
